@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
h1,h2,h3,h4,h5{
    font-family: "Saira", serif;
}
p{
    font-family: "Inter", serif;
}
section{
    background: #1A1A1A;
}